In [24]:
# import dependencies
import pandas as pd

In [25]:
student_data_to_load = 'Resources/students_complete.csv'
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [26]:
# put the student names into a python list
student_names = student_data_df['student_name'].tolist()

In [27]:
# create a new list and use it for the for loop to iterate through the list
students_to_fix = []

# use an if statement to check the length of the name
# if the name is greater than or equal to 3, add it to students_to_fix list

for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)
        
len(students_to_fix)

1531

In [28]:
# add the prefixes lass than or equal to 4 to a new list
prefixes = []
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        prefixes.append(name.split()[0])

In [29]:
# add the suffixes lass than or equal to 4 to a new list
suffixes = []
for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        suffixes.append(name.split()[-1])

In [30]:
# set(prefixes) # Dr., Mr., Mrs., and Miss
# set(suffixes) # MD, DDS, DVM, Ph.D.

In [31]:
prefixes_suffixes = ['Dr. ',' Mr. ', 'Mrs. ',  'Miss ',  'MD ', 'DDS ', 'DVM ', 'PhD ']
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word, '')
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [32]:
student_names = student_data_df['student_name'].tolist()
student_names[:5]

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 'Richard Scott',
 'Bonnie Ray']

In [33]:
# Create a new list and use it for the for loop to iterate through the list.
students_fixed = []

# Use an if statement to check the length of the name.

# If the name is greater than or equal to 3, add the name to the list.

for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)

# Get the length of the students' names that are greater than or equal to 3.
len(students_fixed)

1181