In [1]:
# 4.7.10
# Add the Pandas dependency.
import pandas as pd

In [2]:
school_data_to_load = 'Resources/schools_complete.csv'
student_data_to_load = 'Resources/students_complete.csv'

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)

# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
# determine the data types for the school DataFrame
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [5]:
# determine the data types for the student DataFrame
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [6]:
# iterate through the words in the `prefixes_suffixes` list and replace them with an empty space, ''.
prefixes_suffixes = ['Dr. ',' Mr. ', 'Mrs. ',  'Miss ',  'MD ', 'DDS ', 'DVM ', 'PhD ']
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word, '')

In [7]:
# combine the student_data_df and school_data_df into a single DataFrame.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=['school_name', 'school_name'])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
student_count = school_data_complete_df['Student ID'].count()
student_count

39170

In [9]:
school_count = len(school_data_complete_df['school_name'].unique())
school_count

15

In [10]:
total_budget = school_data_df['budget'].sum()
total_budget

24649428

In [11]:
average_reading_score = school_data_complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [12]:
average_math_score = school_data_complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [13]:
# create two DataFrames one with students that passed reading, another with students that passed math
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70]
passing_math = school_data_complete_df[school_data_complete_df['math_score'] >= 70]

# calculate the number of students that passed reading, math
passing_reading_count = passing_reading['student_name'].count()
passing_math_count = passing_math['student_name'].count()

In [14]:
# calculate the perccentage that passed reading
passing_reading_percentage = passing_reading_count / float(student_count) * 100

# calculate the perccentage that passed math
passing_math_percentage = passing_math_count / float(student_count) * 100

In [15]:
# create a DataFrame of the students who passed both math and reading
passing_math_reading = school_data_complete_df[
    (school_data_complete_df['math_score'] >= 70) 
    & (school_data_complete_df['reading_score'] >= 70)
]
# calculate the number of students who passed both math 
overall_passing_math_reading_count = passing_math_reading['student_name'].count()

# calculate the overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100

In [16]:
# create a DataFrame summarizing details about the school district
district_summary = {
    'Total Schools': school_count,
    'Total Students': student_count,
    'Total Budget': total_budget,
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': passing_math_percentage,
    '% Passing Reading': passing_reading_percentage,
    '% Overall Passing': overall_passing_percentage
}
district_summary_df = pd.DataFrame([district_summary])

In [17]:
# format the columns
district_summary_df['Total Students'] = district_summary_df['Total Students'].map('{:,}'.format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map('${:,.2f}'.format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map('{:.1f}'.format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map('{:.1f}'.format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map('{:.0f}'.format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map('{:.0f}'.format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map('{:.0f}'.format)

In [18]:
new_column_order = [
    'Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 
    'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing'
]
district_summary_df = district_summary_df[new_column_order]

In [19]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65